/* Arquivo: telaCadastroUsuarios.css */

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button {
    background-color: #ccc;
    color: #000;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

/* Adicionando box-shadow */
input, select, button {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media (min-width: 768px) {
    form {
        max-width: 400px;
        margin: 0 auto;
    }
}
